html
    head
        style
            include bootstrap.min.css
            include diff2html.min.css
            include style.css
        script
            include jquery-3.3.1.min.js
            include diff2html.min.js
            include diff2html-ui.min.js
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col text-danger border border-danger m-3")
                    h1 #{oldSpec}
                div(class="col text-success border border-success m-3")
                    h1 #{newSpec}
            //- div(class="row")
            //-     div(class="col text-secondary bg-light m-3")
            //-         h1 Untouched
            //-         ul(class="listUntouched text-monospace")
            //-             each item in listUntouched
            //-                 li #{item['name']}
            //- div(class="row")
            //-     div(class="col text-danger border border-danger m-3")
            //-         h1 Removed
            //-         ul(class="text-monospace listRemoved")
            //-             each item in listRemoved
            //-                 li #{item['name']}
            //-     div(class="col text-success border border-success m-3")
            //-         h1 Added
            //-         ul(class="text-monospace listAdded")
            //-             each item in listAdded
            //-                 li #{item['name']}
            div(class="row")
                div(class="col border border-warning m-3")
                    h1 Modified (TOC)
                    ul(class="listModifiedToc text-monospace")
                        each item in listModified
                            li
                                a(href="#" + item['name']) #{item['name']}
            div(class="row")
                div(class="col border border-warning m-3")
                    h1 Modified (Diff)
                    each item in listModified
                        div(class="text-monospace")
                            h3(id=item['name']) #{item['name']}
                            div(id=item['name'] + "-code")
        script
            | var diff2htmlUi = {};
            each item in listModified
                | diff2htmlUi["#{item['name']}"] = new Diff2HtmlUI({diff: "#{unifiedDiff[item['name']]}"});
                | diff2htmlUi["#{item['name']}"].draw("##{item['name']}-code", {matching: "lines"});

